html {
  height: 100%;
  width: 100%;
}
body{
  background-image:url('https://media0.giphy.com/media/xT0GqcCJJJH12hJvGM/giphy.gif?cid=ecf05e4782tvijudrftdhjs4gtkuvlf97t7amkuq2lsiop5p&rid=giphy.gif&ct=g');
  background-size: contain;
}

#limiter{
  width:20vw;
  height:5vw;
margin:0;
}
.box{
  display:grid;
  background-color: (0,0,0);
  justify-content: center;
  align-items: center;
  row-gap:20px;
}
#name{
  
  text-align:center;
  transition:all 0.2s;
}
#name:focus{
  
outline-color:pink;
}
#pass{
  
  text-align:center;
}

#val{
  position: relative;
  display:inline;
left:auto;
  margin:0;
}
#pass{
 
  text-align:center;
}
