*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-image:url("bg.png");
    background-repeat:no-repeat;
  background-size:cover;
}

.tingle{
   display:inline-grid;
grid-template-rows: auto auto auto;
row-gap: 20px;

    background-color:rgb(255, 255, 255,0.1);
   width:autopx;
  
padding-top: 10px;
padding-left:20px;
padding-right:20px;
padding-bottom:10px;
border-radius:20px;
   
   margin:auto;
position:absolute;
top:20%;
left:35%;
   place-items: center;
}
.first{
    width:300px;
    height:50px;

   
text-align: center;
outline-width: 0.1px;
 outline-color:rgb(49, 167, 223);
 border-style: groove;
 border-radius: 50px;
 transition:width 2s;
}
.first:focus{
width:500px;
}

.third{
    width:300px;
    border-style:outset;
  
    height:50px;
    color:white;

    background-image:linear-gradient(to bottom,blue,cyan);
border-radius: 12px;
transition:height 100ms,width 100ms;
}
.third:hover{
   height:60px;
   width:310px;
}
.line{
    height:1px;
    width:300px;
    background-color:rgb(255, 255, 255);
    opacity:0.2;
}
.fourth{
    width:300px;
    border-style:outset;
    display: block;
    height:50px;
    color:white;
margin-left:10px;
    background-image:linear-gradient(to bottom,rgb(165, 27, 170),rgb(218, 104, 161));
border-radius: 12px;
transition:width 1s;
}
.fourth:focus+ .king{
 display: block;
   width:300px;
   animation-name:kings;
   animation-duration: 1s;
   animation-iteration-count: 1;
}
@keyframes kings {
    from{height:0px;}
    to{height:550px;}
    
}
.king{
    
    margin-left:10px;
    background-color:white;
    margin-top:1px;
    position:absolute;
    display: none;
}