@media screen and (max-width:500px){
    *{
        box-sizing:border-box;
        margin:0;
        padding:0;
        overflow-x: hidden;
    }
    #intro{
font-size:12px;
width:auto;
      }
      #box{
       width:350px;
       height:760px;
      margin-left: 25px;
      grid-template-columns: repeat(4,85px);

      }

      .input{
        height:90px;
        width:80px;
        font-size:25px;
        
    /* border:none;
        border-radius: 80%; */
      }
      #output{

        width:300px;
       
}
