@media screen and (max-width:420px){
    *{
        box-sizing: border-box;
    }
    #firstnavbar{
        display:none;
        visibility: hidden;
    }
    #scrollbar{
        display:none;
    }
    
    #secondbar:not(#search){
       display:none;
    }
    #search{
display:inline;
float:left:

    }
    }