@media screen and (max-width:420px){
    *{
        box-sizing: border-box;
        margin:0;
    }
    #firstnavbar{
        display:none;
        visibility: hidden;
    }
    #scrollbar{
        display:none;
    }
    
    #secondbar{
       display: none;
       
    }
   #back{
    height:auto;
    width:420px;
    position:relative;
    top:-10px;
    box-sizing: border-box;
    
   
   }

    }