@media screen and (max-width: 800px) {
   .songitem{
width:100%;

   } 
   
  #sidebar ul{
      position:fixed;
      list-style-type: none;
      background-color: black;
      border-right-style: solid;
      border-color:rgb(44, 44, 44);
      border-width:1px;
     z-index:2;
      height:100%;
      width:6vh;
padding:1vh 4vw 0 1vw; 
      display: grid;
      grid-template-rows: 10vh repeat(3,100px);
 
}
  .fa-spotify{
      font-size: 2rem;
      color:green;
      
  }
  #sidebar ul li span{
   display: none;
  }
  #top {
   
 height:120px;
}
.songitem{
   font-size:8px;
}
.songitem img{
   width:40px;

}
#head ul,.toptext{
   font-size:20px;
   column-gap:50px;
}
.owner{
   font-size:8px;
bottom:-5px;
}
.ownlog{
   width:25px;
   height:25px;
}
#header ul{
   font-size:10px;
}
  }