@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body{
    background-color:antiquewhite;
}
*{
    margin:0;
    padding:0;
}
#head{
    font-family: 'Alkatra', cursive;
}
#head ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    color:white;
    background-color:black;
    height:65px; 
}
#head ul li{
    padding:0px 12px;
    display: flex;
    align-items: centers;
}
.logo{
    display:flex;
    font-size:1.5rem;s
}
.logo img{
   width:45px;
padding-left:20px;
}
.contain{
    min-height:72vh;
    background-color: black;
    color:white;
    font-family: 'Alkatra', cursive;
    display:flex;
    margin:25px auto;
width:70%;
background-position: 45vw,0px,23vw;
background-image: url("back.jpeg"),url("back.jpg"),url("back3.jpeg");
background-size: contain,contain,contain;
background-repeat: no-repeat;
border-radius:15px;

}
#icons{
    display:grid;
grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    
}
.bottom{
    position:sticky;
    height:130px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    bottom:0;
    flex-direction: column;
    margin:12px 0;
}

    .design{
        color:rgb(252, 252, 252); 
        font-size:20px;
    }

#progress{
    width:80vw;
    text-align:center;

}
.songlist{
    margin:0 0 0 20spx;
}
.songitem{
    height:50px;
    display:flex;
    flex-direction: row;
    background-color: white;
    width:30vw;
    color:black;
    margin:12px 0;
    justify-content: space-between;
    align-items: centers;
    
    border-radius:20px;
}
.songitem span{
   align-self: center;
}
.songitem img{
    width:50px;
    margin:0px 20px;
   
}
.songitemlist{
    margin-top:40px;
}
.timestamp{
    margin:0 20px;
}