@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&display=swap');
body{
    background-color:rgb(0, 0, 0);
}
*{
    margin:0;
    padding:0;
    font-family: 'Alkatra', cursive;
    box-sizing: border-box;
}

#sidebar{
    position:absolute;
    color:white;
    padding-left :1vw;
}
#sidebar ul{
    position:fixed;
    list-style-type: none;
    background-color: black;
    border-right-style: solid;
    border-color:rgb(44, 44, 44);
    border-width:1px;
   z-index:2;
    height:100%;
    width:25vh;

    display: grid;
    grid-template-rows: 25vh repeat(3,50px);
justify-content: space-between;
align-items: center; 
padding-left:2rem;


}
.fa-spotify{
    font-size: 4.5rem;
    color:green;
    
}
#sidebar ul li{
    display:flex;
    justify-content: space-around;
}
#sidebar ul li:first-child span{
   position: relative;
   top:1.5rem;
   margin-left: 4px;;
}
#sidebar ul li i:not(.fa-spotify){
    font-size:1.5rem;
}
#head{
    font-family: 'Alkatra', cursive;
}
#head ul{
    list-style-type:none;
    display:grid;
    grid-template-columns:30vw auto ;
    column-gap: 10px;
    align-items:center;
    color:white;
    
background-image: linear-gradient(to left, #282828 10%, #000000 90%);
    position: relative;
    z-index: 0;
    
    margin-left: 15vw;
    height:45vh; 
    
}
.toptext{
    font-family: 'Anton', sans-serif;
    font-size:4rem;
}

.cover{
    background-image: url('logo.jpg');
    width:15vw;
    height:30vh;
background-position:center;
background-size:100% 100%; 
    background-repeat:no-repeat;
border-color:grey;
box-shadow: 1px 1px 5px rgb(16, 16, 16);
    border-style:solid;
    border-width:0.5px;
padding: 60px 0 0 90px;
margin:20px 0 0 50px;

}
.owner{
    display: flex;
    margin-left:30vw;
    grid-column:1/span 2;
    font-size:.8rem;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    top:15.5rem;
    

}
.ownlog{
    width:40px;
    height:40px;
    background-image: url('own.webp');
    background-size:100% 100%; 
    background-repeat:no-repeat;
  border-radius: 50%;
  margin-right:4px;

}
#top{
    display:grid;
    grid-template-rows: 8vh 8vh ;
    padding:2rem;
border-top-style: inset;
border-width:1px;
border-color:rgb(98, 98, 98,0.3);
justify-content:last baseline;

background-image: linear-gradient(315deg, #282828 20%, #000000 74%);
position: relative;
bottom:1vh;
margin-left:15vw;
margin-bottom: 0;
}
#buttons{
   
    display:grid;
    grid-template-columns: 40px 40px ;
column-gap: 35px;
}
#top section{
    color:white;
    display:grid;
grid-template-columns:22% 20% 23% 23%;
color:grey;
    font-size:small;
    margin-bottom:0;
    position:relative;
    top:10vh;
}

#play{
    color: #20ff42;

 font-size:3.5rem;
}
.heart{
    font-size:2rem;
    color:white;
    position:relative;
    top:15px;
    
}
.heartcolor{
    color:red;
}
#icons{
    display:grid;
grid-template-columns: repeat(3,1fr);
    column-gap: 30px;

    z-index: 3;
    
}
.bottom{
    position:sticky;
    height:115px;
    border-top-style:inset;
    border-width:1px;
    border-color:black
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left:15vw;
    background-image: linear-gradient(315deg, #282828 20%, #000000 74%);
    bottom:0;
    z-index:10;
    flex-direction: column;
   
}

    .design{
        color:rgb(252, 252, 252); 
        font-size:20px;
    }

#progress{
    width:75vw;
    text-align:center;
    cursor:pointer;


}
.contain{
    border-width:1px;
    border-top-style:solid;
    border-color:rgb(98, 98, 98,0.3);
    justify-content:last baseline;
    background-image: linear-gradient(315deg, #282828 20%, #000000 80%);
    position:relative;
    bottom:1vh;
    margin-left:15vw;
    color:white;
    
}
.songinfo{
    color:white;
}
.songinfo img{
    opacity:0;
    transition:all 0.7s;
}
.songitem{
    display:grid;
    grid-template-columns: repeat(5,1fr);
}
.songitem img{
    width: 40px;
    height:40px;
    margin: 0 23px 10px;
   
}
.search{
    position: absolute;
    top:33%;
    left:40%;
width:auto;
border-radius:12px;
display:none;
}
.fa-magnifying-glass:hover
{
    color:Red;
}